.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 32px;
  height: 32px;
}

.snake {
  background-color: #191919;
}

.apple {
  background-color: #ff0000;
}
